.nav, .goals-list, .img-first-block, .img-second-block, .info, .address-map-list, .join-in-social {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

.view-button .title, .leisure-center .title, .connect-with-us .title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
}

@font-face {
  font-family: "TT Hoves Hairline";
  src: url("TTHoves-HairlineItalic.eot");
  src: local("TT Hoves Hairline Italic"), local("TTHoves-HairlineItalic"), url("TTHoves-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("TTHoves-HairlineItalic.woff2") format("woff2"), url("TTHoves-HairlineItalic.woff") format("woff"), url("TTHoves-HairlineItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-ExtraLightItalic.eot");
  src: local("TT Hoves ExtraLight Italic"), local("TTHoves-ExtraLightItalic"), url("TTHoves-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("TTHoves-ExtraLightItalic.woff2") format("woff2"), url("TTHoves-ExtraLightItalic.woff") format("woff"), url("TTHoves-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-Thin.eot");
  src: local("TT Hoves Thin"), local("TTHoves-Thin"), url("TTHoves-Thin.eot?#iefix") format("embedded-opentype"), url("TTHoves-Thin.woff2") format("woff2"), url("TTHoves-Thin.woff") format("woff"), url("TTHoves-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-DemiBold.eot");
  src: local("TT Hoves DemiBold"), local("TTHoves-DemiBold"), url("TTHoves-DemiBold.eot?#iefix") format("embedded-opentype"), url("TTHoves-DemiBold.woff2") format("woff2"), url("TTHoves-DemiBold.woff") format("woff"), url("TTHoves-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-BoldItalic.eot");
  src: local("TT Hoves Bold Italic"), local("TTHoves-BoldItalic"), url("TTHoves-BoldItalic.eot?#iefix") format("embedded-opentype"), url("TTHoves-BoldItalic.woff2") format("woff2"), url("TTHoves-BoldItalic.woff") format("woff"), url("TTHoves-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-Black.eot");
  src: local("TT Hoves Black"), local("TTHoves-Black"), url("TTHoves-Black.eot?#iefix") format("embedded-opentype"), url("TTHoves-Black.woff2") format("woff2"), url("TTHoves-Black.woff") format("woff"), url("TTHoves-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-ExtraLight.eot");
  src: local("TT Hoves ExtraLight"), local("TTHoves-ExtraLight"), url("TTHoves-ExtraLight.eot?#iefix") format("embedded-opentype"), url("TTHoves-ExtraLight.woff2") format("woff2"), url("TTHoves-ExtraLight.woff") format("woff"), url("TTHoves-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-Bold.eot");
  src: local("TT Hoves Bold"), local("TTHoves-Bold"), url("TTHoves-Bold.eot?#iefix") format("embedded-opentype"), url("TTHoves-Bold.woff2") format("woff2"), url("TTHoves-Bold.woff") format("woff"), url("TTHoves-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-ThinItalic.eot");
  src: local("TT Hoves Thin Italic"), local("TTHoves-ThinItalic"), url("TTHoves-ThinItalic.eot?#iefix") format("embedded-opentype"), url("TTHoves-ThinItalic.woff2") format("woff2"), url("TTHoves-ThinItalic.woff") format("woff"), url("TTHoves-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-Italic.eot");
  src: local("TT Hoves Italic"), local("TTHoves-Italic"), url("TTHoves-Italic.eot?#iefix") format("embedded-opentype"), url("TTHoves-Italic.woff2") format("woff2"), url("TTHoves-Italic.woff") format("woff"), url("TTHoves-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-BlackItalic.eot");
  src: local("TT Hoves Black Italic"), local("TTHoves-BlackItalic"), url("TTHoves-BlackItalic.eot?#iefix") format("embedded-opentype"), url("TTHoves-BlackItalic.woff2") format("woff2"), url("TTHoves-BlackItalic.woff") format("woff"), url("TTHoves-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-ExtraBold.eot");
  src: local("TT Hoves ExtraBold"), local("TTHoves-ExtraBold"), url("TTHoves-ExtraBold.eot?#iefix") format("embedded-opentype"), url("TTHoves-ExtraBold.woff2") format("woff2"), url("TTHoves-ExtraBold.woff") format("woff"), url("TTHoves-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-DemiBoldItalic.eot");
  src: local("TT Hoves DemiBold Italic"), local("TTHoves-DemiBoldItalic"), url("TTHoves-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("TTHoves-DemiBoldItalic.woff2") format("woff2"), url("TTHoves-DemiBoldItalic.woff") format("woff"), url("TTHoves-DemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-MediumItalic.eot");
  src: local("TT Hoves Medium Italic"), local("TTHoves-MediumItalic"), url("TTHoves-MediumItalic.eot?#iefix") format("embedded-opentype"), url("TTHoves-MediumItalic.woff2") format("woff2"), url("TTHoves-MediumItalic.woff") format("woff"), url("TTHoves-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-ExtraBoldItalic.eot");
  src: local("TT Hoves ExtraBold Italic"), local("TTHoves-ExtraBoldItalic"), url("TTHoves-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("TTHoves-ExtraBoldItalic.woff2") format("woff2"), url("TTHoves-ExtraBoldItalic.woff") format("woff"), url("TTHoves-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-Regular.eot");
  src: local("TT Hoves Regular"), local("TTHoves-Regular"), url("TTHoves-Regular.eot?#iefix") format("embedded-opentype"), url("TTHoves-Regular.woff2") format("woff2"), url("TTHoves-Regular.woff") format("woff"), url("TTHoves-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves Hairline";
  src: url("TTHoves-Hairline.eot");
  src: local("TT Hoves Hairline"), local("TTHoves-Hairline"), url("TTHoves-Hairline.eot?#iefix") format("embedded-opentype"), url("TTHoves-Hairline.woff2") format("woff2"), url("TTHoves-Hairline.woff") format("woff"), url("TTHoves-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-LightItalic.eot");
  src: local("TT Hoves Light Italic"), local("TTHoves-LightItalic"), url("TTHoves-LightItalic.eot?#iefix") format("embedded-opentype"), url("TTHoves-LightItalic.woff2") format("woff2"), url("TTHoves-LightItalic.woff") format("woff"), url("TTHoves-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-Light.eot");
  src: local("TT Hoves Light"), local("TTHoves-Light"), url("TTHoves-Light.eot?#iefix") format("embedded-opentype"), url("TTHoves-Light.woff2") format("woff2"), url("TTHoves-Light.woff") format("woff"), url("TTHoves-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("TTHoves-Medium.eot");
  src: local("TT Hoves Medium"), local("TTHoves-Medium"), url("TTHoves-Medium.eot?#iefix") format("embedded-opentype"), url("TTHoves-Medium.woff2") format("woff2"), url("TTHoves-Medium.woff") format("woff"), url("TTHoves-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* base-values */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "TT Hoves", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 135px;
  padding-right: 135px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

/* header */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1;
}

/* header and main navigation of header */
.header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  font-style: normal;
  letter-spacing: 0.2em;
}

.nav {
  margin-left: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .item {
  margin-left: 60px;
}

.nav .item:first-child {
  margin-left: 0px;
}

.nav .item.active {
  margin-bottom: 0px;
}

.nav .link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 0;
}

.nav .link:hover, .nav .link:focus {
  color: #2196f3;
}

.nav .link:before {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 1px;
  background: #333333;
  opacity: 0;
}

.nav .link.active::before {
  opacity: 1;
  bottom: initial;
}

.nav .link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 41px;
  width: 100%;
  height: 1px;
  background: #333333;
  opacity: 0;
}

.nav .link.active::after {
  opacity: 1;
}

/* project-home */
.project-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 102px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.project-title {
  margin-top: 0px;
  margin-bottom: 90px;
}

.project-title .project {
  margin-top: 336px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  font-style: normal;
  text-transform: uppercase;
  color: #bdbdbd;
}

.project-title .home {
  margin-top: 0;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  font-style: normal;
  text-transform: uppercase;
  color: #333333;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.button .block-left-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 53px;
  height: 53px;
  border: 1px solid;
  border-color: #f2f2f2;
  background-color: #f9f9f9;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button .block-left-button:hover, .button .block-left-button:focus {
  background-color: #2196f3;
  border-radius: 4px;
}

.button .block-left-button:active {
  border: none;
}

.button .block-right-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 53px;
  height: 53px;
  border: 1px solid;
  border-color: #f2f2f2;
  background-color: #f9f9f9;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button .block-right-button:hover, .button .block-right-button:focus {
  background-color: #2196f3;
  border-radius: 4px;
}

.button .block-right-button:active {
  border: none;
}

.project-home .pages {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #bdbdbd;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-style: normal;
}

.pages .pages-two {
  margin-left: 90px;
}

.pages .pages-two:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 44px;
  left: 50%;
  top: -50%;
  background: #e0e0e0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.project-home .project-home-img {
  position: relative;
  margin-left: 122px;
}

.project-home .view-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 222px;
  height: 71px;
  background-color: #ffffff;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-home .view-button:hover, .project-home .view-button:focus {
  background-color: #2196f3;
  border-radius: 4px;
}

.view-button .img-right-button {
  margin-left: 12px;
}

.goals {
  margin-bottom: 120px;
}

.main-goals {
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  font-style: normal;
  color: #bdbdbd;
}

.goals-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goal-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 413px;
  height: 144px;
}

.goal-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 576px;
  height: 144px;
}

.goal-number {
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 900;
  font-size: 200px;
  line-height: 1.2;
  font-style: normal;
  color: #f2f2f2;
}

.goal-text {
  margin-left: 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.63;
  font-style: normal;
  color: #333333;
}

/* about company */
.about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}

.about-company-img {
  margin-left: 100px;
}

.img-pres-one {
  margin-top: 30px;
  width: 270px;
  height: 265px;
}

.img-pres-two {
  margin-top: 30px;
  width: 270px;
  height: 140px;
}

.description-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.img-pres-three {
  margin-top: 60px;
  width: 270px;
  height: 345px;
}

.company-description {
  display: block;
  max-width: 400px;
  margin-left: 30px;
}

.description-title {
  margin-top: 30px;
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  font-style: normal;
  color: #bdbdbd;
}

.description-text {
  margin-top: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.56;
  font-style: normal;
}

.view-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 222px;
  height: 71px;
  background-color: #ffffff;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.view-button:hover, .view-button:focus {
  background-color: #2196f3;
  border-radius: 4px;
}

/* our-projects */
.our-projects {
  margin-bottom: 120px;
}

.our-projects-title {
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  font-style: normal;
  color: #bdbdbd;
}

.img-first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.img-first-block .item {
  width: calc((100% - 30px) / 2);
}

.img-first-block .item:last-child {
  margin-left: 30px;
}

.img-first-block .img {
  width: 100%;
  height: 255px;
}

.img-first-block .background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(82, 82, 88, 0.8)), to(rgba(82, 82, 88, 0.8))), url(../../images/our-proj/our-proj-one.jpg);
  background-image: linear-gradient(rgba(82, 82, 88, 0.8), rgba(82, 82, 88, 0.8)), url(../../images/our-proj/our-proj-one.jpg);
}

.img-first-block .leisure-center {
  padding: 47px 79px;
}

.leisure-center-head {
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 8px;
}

.leisure-center .title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: initial;
}

.img-second-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.img-second-block .item {
  margin-left: 30px;
}

.img-second-block .item:first-child {
  margin-left: 0;
}

.leisure-center .view-button {
  background-color: initial;
  fill: #ffffff;
  margin: 0;
  padding: 0;
  width: 129px;
  height: 24px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leisure-center .view-button:hover, .leisure-center .view-button:focus {
  background-color: #2196f3;
  border-radius: 4px;
}

.leisure-center .title {
  color: #ffffff;
}

.all-projects-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.all-projects-button .view-button {
  margin: 0;
  padding: 0;
  background: #333333;
  fill: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-projects-button .view-button:hover, .all-projects-button .view-button:focus {
  background-color: #2196f3;
  border-radius: 4px;
}

.all-projects-button .title {
  color: #ffffff;
}

/* form */
.connect-with-us {
  margin-bottom: 120px;
}

.form-title {
  margin-bottom: 22px;
  display: block;
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  font-style: normal;
  color: #bdbdbd;
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
}

.form-field {
  position: relative;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field.comment {
  max-height: 147px;
}

.form-field .textarea {
  min-height: 147px;
  resize: none;
}

.form-field.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 391px;
}

.form-field .label-policy {
  margin-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #333333;
}

.form-field:last-child {
  margin-bottom: 0;
}

.form-input {
  height: 40px;
  padding: 14px 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f3f3f3;
  border: none;
  min-width: 391px;
  min-height: 46px;
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 21px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  letter-spacing: 0.04em;
  color: #8d8d8d;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
  color: #2196f3;
  -webkit-transform: translate(calc(-100% - 30px));
          transform: translate(calc(-100% - 30px));
  top: 0;
}

.form-field:focus-within .form-input {
  outline-color: #2196f3;
}

.comment-lable {
  position: absolute;
  top: 0;
  left: 21px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #000000;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-icon {
  background-color: #2196f3;
  background-image: url(../../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  background-position-y: center;
  border-color: #2196f3;
}

.asterisk {
  color: #c30000;
}

.form-img {
  margin-left: 30px;
}

.connect-with-us .view-button {
  background-color: #333333;
  fill: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect-with-us .view-button:hover, .connect-with-us .view-button:focus {
  background-color: #2196f3;
  border-radius: 4px;
}

.connect-with-us .title {
  color: #ffffff;
}

/* footer-tools */
.footer {
  position: relative;
}

.footer-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 58px 212px 60px 116px;
  background-color: #232323;
}

.info-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo {
  width: 145px;
  height: 94px;
  fill: black;
}

/* info */
.info {
  margin-left: 100px;
}

.info .title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  font-style: normal;
  color: #ffffff;
}

.info .item {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.info .item:last-child {
  margin-bottom: 0;
}

/*address */
.address {
  margin-left: 157px;
}

.address .link {
  text-decoration: none;
  color: #ffffff;
}

.address .title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  font-style: normal;
  color: #ffffff;
}

.address .item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address .item:last-child {
  margin-bottom: 0;
}

.map-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 54px;
}

.map-point-icon {
  margin-right: 19px;
}

.handset {
  margin-bottom: 33px;
}

.handset-icon {
  margin-right: 14px;
}

.envelope-icon {
  margin-right: 14px;
}

/*footer-subscribe */
.join-in {
  margin-left: auto;
}

.join-in .title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  font-style: normal;
  color: #ffffff;
}

.join-in-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-in-social .item {
  margin-right: 40px;
}

.join-in-social .item:last-child {
  margin-right: 0px;
}

.copyright {
  padding: 24px 591px;
  width: 1440px;
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright:before {
  content: '';
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  border: 1px solid #ffffff;
  opacity: 0.1;
}

.copyright-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.83;
  font-style: normal;
  color: rgba(200, 200, 200, 0.5);
  font-family: 'Open Sans', sans-serif;
}
/*# sourceMappingURL=main.css.map */