/* company specialization */
.section-specialization {
	@media screen and (max-width: 1199px) {
		display: none;
	}
	@media screen and (min-width: $desktop-upper) {
		display: block;
	}
}
.specialization {
	@extend %list;
	padding-bottom: 94px;
	display: flex;
	& img {
		@extend %image;
	}
	&-title {
		margin-bottom: 50px;
		@include font(700, 36px, 1.16, 0.03em);
		text-align: center;
	}
	&-text {
		position: absolute;
		bottom: 0px;
		padding: 27px 0px;
		width: 100%;
		@include font(700, 14px, 1.14, 0.03em);
		text-align: center;
		text-transform: uppercase;
		background-color: rgba(47, 48, 58, 0.8);
		color: $accent-color;
	}
}
.specialization .item {
	position: relative;
	margin-right: 30px;
	width: calc((100% - 30px) / 3);
	display: block;
	justify-content: center;
	&:last-child {
		margin-right: 0;
	}
}
