.container {
  padding-left: 135px;
  padding-right: 135px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  // @media screen and (min-width: $mobile-upper) {
  // 	width: $mobile-upper;
  // }
  // @media screen and (min-width: $tablet-upper) {
  // 	width: $tablet-upper;
  // }
  // @media screen and (min-width: $desktop-upper) {
  // 	width: $desktop-upper;
  // }
}
