/* form */

.connect-with-us {
  margin-bottom: 120px;
}

.form {
  &-title {
    margin-bottom: 22px;
    display: block;
    @include font(300, 64px, 1, normal);
    color: $additional-color;
  }
}

.form-block {
  display: flex;
  margin-bottom: 23px;
}

.form-field {
  position: relative;
  display: block;
  flex-direction: column;
  margin-bottom: 10px;
  &.comment {
    max-height: 147px;
  }
  & .textarea {
    min-height: 147px;
    resize: none;
  }
  &.policy {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 391px;
  }
  & .label-policy {
    margin-left: 16px;
    @include font(400, 14px, 1.14, normal);
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}
.form-field:last-child {
  margin-bottom: 0;
}
.form-input {
  height: 40px;
  padding: 14px 21px;
  box-sizing: border-box;
  background-color: $background-input;
  border: none;
  min-width: 391px;
  min-height: 46px;
}
.form-label {
  display: flex;
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translateY(-50%);
  @include font(400, 14px, 1.14, normal);
  letter-spacing: 0.04em;
  color: $color-form-text;
  transition: transform 250ms $timing-transition;
  .form-input:focus ~ &,
  .form-input:not(:placeholder-shown) ~ & {
    color: $text-color-hover;
    transform: translate(calc(-100% - 30px));

    top: 0;
  }
}
.form-field:focus-within .form-input {
  outline-color: $text-color-hover;
}
.comment-lable {
  position: absolute;
  top: 0;
  left: 21px;
  transform: translateY(50%);
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
  transition: background-color 250ms $timing-transition,
    border-color 250ms $timing-transition;
  .checkbox:checked + & {
    background-color: $text-color-hover;
    background-image: url(../../images/check.svg);
    background-size: contain;
    background-origin: border-box;
    background-position-y: center;
    border-color: $text-color-hover;
  }
}

.asterisk {
  color: $star;
}

.form-img {
  margin-left: 30px;
}

.connect-with-us .view-button {
  background-color: $secondary-text-color;
  fill: $accent-color;

  transition: color 250ms $timing-transition;

  &:hover,
  &:focus {
    background-color: $text-color-hover;
    border-radius: 4px;
  }
}
.connect-with-us .title {
  @extend %button-title;
  color: $accent-color;
}
