/* footer-tools */
.footer {
  position: relative;
}

.footer-blocks {
  display: flex;

  padding: 58px 212px 60px 116px;
  background-color: $footer-background;
}

.info-address {
  display: flex;
}
