/* info */

.info {
  margin-left: 100px;
  @extend %list;
}

.info .title {
  margin-bottom: 25px;
  @include font(700, 16px, 1.18, normal);
  color: $accent-color;
}

.info .item {
  margin-bottom: 16px;
  @include font(500, 14px, 1.71, normal);
  letter-spacing: 0.03em;
  color: $accent-color;
}
.info .item:last-child {
  margin-bottom: 0;
}
