/*footer-subscribe */

.join-in {
  margin-left: auto;
}

.join-in .title {
  margin-bottom: 25px;
  @include font(700, 16px, 1.18, normal);
  color: $accent-color;
}

.join-in-social {
  display: flex;
  @extend %list;
}

.join-in-social .item {
  margin-right: 40px;
}
.join-in-social .item:last-child {
  margin-right: 0px;
}
