/*address */

.address {
  margin-left: 157px;
}

.address .link {
  text-decoration: none;
  color: $accent-color;
}

.address .title {
  margin-bottom: 25px;
  @include font(700, 16px, 1.18, normal);
  color: $accent-color;
}

.address-map-list {
  @extend %list;
}

.address .item {
  @include font(500, 14px, 1.71, normal);
  letter-spacing: 0.03em;

  color: $accent-color;
}
.address .item:last-child {
  margin-bottom: 0;
}

.map-point {
  display: flex;
  margin-bottom: 54px;
}
.map-point-icon {
  margin-right: 19px;
}
.handset {
  margin-bottom: 33px;
}
.handset-icon {
  margin-right: 14px;
}
.envelope-icon {
  margin-right: 14px;
}
