/* base-values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $accent-color;
  color: $primary-text-color;
  font-family: $main-font;

  max-width: 1440px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
