$primary-text-color: #000000;
$secondary-text-color: #333333;
$color-social-link: #afb1b8;
$accent-color: #ffffff;
$additional-color: #bdbdbd;
$border-color: #f2f2f2;
$border-background-color: #f9f9f9;
$text-color-hover: #2196f3;
$background-input: #f3f3f3;
$color-form-text: #8d8d8d;
$footer-background: #232323;
$star: #c30000;
$main-font: 'TT Hoves', sans-serif;
$timing-transition: cubic-bezier(0.4, 0, 0.2, 1);

$mobile-upper: 480px;
$tablet-upper: 768px;
$desktop-upper: 1440px;

$font-letter-spacing: 0.2em;
